*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: serif;
  --right-bg-clr: #f9f9f9ff;
}

* {
  font-family: var(--main-font);
}

.emph {
  font-style: italic;
}

body {
  display: flex;
}

.image-left {
  min-width: 30vw;
  max-width: 30vw;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

.sign-up-right {
  display: grid;
  gap: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  background: var(--right-bg-clr);
}
.sign-up-right > * {
  padding-left: 10vw;
}

.form-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10vh;
  padding-bottom: 6vh;
}

.info-enter-middle {
  padding: 3em auto;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 2px 2px 2px #ddd;
  padding-top: 15px;
  padding-bottom: 2em;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form input[type="text"] {
  min-width: 50%;
  max-width: 80%;
  display: block;
}

.form label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #0a1a20;
  font-weight: bold;
}

.extra-bottom {
  padding-top: 2em;
  padding-bottom: 2em;
}

.extra-bottom button {
  background-color: #4b8556;
  color: white;
  border: none;
  outlien: none;
  padding: 2vh 6vh;
  border-radius: 0.5em;
  box-shadow: 2px 2px #2b6536;
  margin-bottom: 1em;
}

.extra-bottom button:active {
  box-shadow: none;
  transform: translateY(2px);
  transform: tranlsateX(2px);
}

.extra-bottom button:hover {
  cursor: pointer;
}

.log-in {
  color: #4b8556;
}

.log-in:hover {
  opacity: 0.8;
  cursor: pointer;
}
