*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: serif;
}

* {
  font-family: var(--main-font);
}

.emph {
  font-style: italic;
}

body {
  display: flex;
}

.image-left {
  min-width: 30vw;
  max-width: 30vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

.sign-up-right {
  display: grid;
  gap: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
}
.sign-up-right > * {
  padding-left: 10vw;
}

.form-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10vh;
}
