*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: serif;
}

* {
  font-family: var(--main-font);
}

.emph {
  font-style: italic;
}

body {
  display: flex;
}

.image-left {
  min-width: 30vw;
  max-width: 30vw;
  height: 100vh;
  background: blue;
}
